


.sub-container{

        display: flex;
        background: rgb(10,49,97);
        background: linear-gradient(172deg, rgba(10,49,97,1) 7%, rgba(3,43,60,1) 78%, rgba(13,71,120,1) 95%);
        flex-direction: row;
        align-content: space-around;
        justify-content: space-around;
        align-items: center;
 
}
.context{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-left: 13%;
    align-items: flex-start;
    width: 50%;
}
.context h1, p{
    color: white;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.context h1{
    font-size:50px;
}
.button-container{
display: flex;
width: 100%;
gap:15px
}
.join-btn{
    color: #05243b;
    font-weight: 600!important;
    background-image: linear-gradient(to right, rgb(255, 255, 255) , rgba(0, 140, 255, 0.212));
}
.view{
    background-image: linear-gradient(to right, #033347 ,#015376);
    color: white;
    border: 1px solid #015376 !important;
}

/* Checkboxex*/
      
input[type="checkbox"]{
    appearance: none;
    background-color: transparent;
    border: 0.1px solid rgba(213, 238, 255, 0.555);
    border-radius: 16%;
    height: 50px;
    width: 50px;
}

.checkbox-container {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    gap: 20px;
 
}
.checkbox-container label{
    color: white;
    font-size: 15px;
}

.checkbox-container input:hover{
background-color: rgba(0, 0, 0, 0.144);
cursor: pointer;
}

/* logo picture*/
.logo-container{
    display: flex;
    background-image: url("./bg.png");
   width: 50%;
}

/* responsiveness*/
@media only screen and (max-width: 600px) {
    .sub-container{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .context{
        width:100%
    }
    .button-container{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .logo-container{
        display: flex;
        width: 100%;
    }
}