.main p{ 
color: black;
}
h1{
    font-family: sans-serif;
    font-weight: 800;
    font-size: 60px;
}
.left{
width: 50%;
display: flex;
flex-direction: column;
}
.right{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.homapage-container{
    display: flex;
    flex-wrap: wrap;
}
.sub-checkbox {
    display: flex;

}

.sub-checkbox input[type="checkbox"]{
    appearance: none;
    background-color: #D9D9D9; 
    border-radius: 8px;
    height: 80px;
    width: 80px;
    margin-top: 20px;
}
input {
    margin:0 12px 0 0;
    vertical-align: middle;
    position: relative;
    top: -1px;
    font-weight: 300;
  }
  .sub-checkbox  label{
    font-weight: 700;
    text-indent: -10px;
    position: relative;
    left: 108px;
    bottom: 76px;
    font-size: 24px;
}
.sub-checkbox .sub-label{
    font-family: 'DM Sans';
    font-style: normal;

    display: inline-block;
    font-size: 18px;
    display: inline-block;
    bottom: 60px;
}
.main{
    width: 44%;
    padding: 102px;
}
.side-bar{
    width: 40%;
}
.main p{
    font-family: sans-serif;
    font-size: 19px;
}


@media only screen and (max-width: 600px) {
    .main{
        width: 100%;
    }
}